* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

.section-filters {
    width: 60%;
}

.section-graphics {
    width: 40%;
}

.canvas {
    width: 55%;
}

.footerNotData {
    position: absolute;
    bottom: 0;
    left: 0;
}